@for (int i = 0; i < EmailAddresses.Count(); i++)
{
    <EmailAddressInputComponent @bind-Addresses="EmailAddresses" @bind-index="i"/>
    <br />
}
<br/>
<button class="btn btn-primary" type="button" onclick="@btnAdd_OnClick"><span class="oi oi-plus" aria-hidden="true"></span></button>
@code {
    [Parameter]
    public List<DataAccessLibrary.Data.EmailAddress> EmailAddresses { get; set; }

    [Parameter]
    public EventCallback<List<DataAccessLibrary.Data.EmailAddress>> EmailAddressesChanged { get; set; }

    private async Task btnAdd_OnClick()
    {
        EmailAddresses.Add(new DataAccessLibrary.Data.EmailAddress());
        await EmailAddressesChanged.InvokeAsync(EmailAddresses);
    }
}
